<!DOCTYPE html>
<html>
<head>
    <title>User</title>
</head>
<body>
    <ul>
      <li><%= @user.fname %></li>
      <li><%= @user.lname %></li>
      <li><%= @user.email %></li>
    </ul>
</body>
</html>